body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #ffcad4;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 8px 16px;
    color: #FFDF6B;
}

button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.header {
    margin-bottom: 50px;
    background-color: #FF5A5F;
    border-bottom: 2px solid #FFDF6B;
}

.container {
    display: flex;
}

.left, .right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 50px;
    flex: 1;
}

.grid {
    display: flex;
    width: 500px;
    height: 500px;
    
    border-color: #FF5A5F;
    border-width: 20px;
    border-radius: 5px;
    border-style: solid;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    background-color: white;
    flex: 1;
}

.black {
    background-color: black;
}